.ocean-container {
    background: url(/img/ocean.jpg) no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 2em;
    justify-content: center;
}

.gray-container {
    background-color: rgb(245, 245, 245);
    padding: 2.5em;
}

.footer-gray-container {
    background-color: rgb(245, 245, 245);
    padding: 0.5em;
}

.text-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.footer {
    display: flex;
    flex-direction: column;
}

.footer-subtext {
    color: rgb(100, 100, 100);
    font-size: 0.7rem;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
}

.links-container {
    display: flex;
    align-items: center;
}

h1, h2, h4, h6 {
    text-align: center;
}

h1, h2 {
    color: rgb(255, 255, 255);
}

h4, h5, h6 {
    font-weight: bold;
}

p.centered {
    text-align: center;
}

p.justified {
    text-align: justify;
}

p.smaller {
    font-size: 0.85rem;
}

img {
    max-width: 100%;
}

a {
    padding: 0.5em;
    font-size: 0.9rem;
}

span {
    padding: 1em;
}

.monitor {
    content: url(/icons/monitor.svg);
}

.layers {
    content: url(/icons/layers.svg);
}

.check {
    content: url(/icons/check.svg);
}

.facebook {
    content: url(/icons/facebook.svg);
}

.twitter {
    content: url(/icons/twitter.svg);
}

.instagram {
    content: url(/icons/instagram.svg);
}


/**************************   RESPONSIVE   ***************************/

@media (min-width: 0) {

    div.start-container {
        display: flex;
        justify-content: space-around;
        padding: 0.5em;
    }
    
    div.title-container {
        width: 90%;
        font-size: 5em;
        padding-top: 1em;
        justify-content: center;
    }

    div.col-xs-12 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
    }

    div.row-reverse {
        display: flex;
        flex-direction: initial;
    }

    h1 {
        font-size: 0.38em;
    }

    h5 {
        font-size: 2.25rem;
    }

    p {
        margin: 0;
    }

    img.circular {
        width: 200px;
        height: 200px;
        border-radius: 150px;
        padding: 1em;
    }

    div.col-xs-12-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-inline .form-control {
        display: inline-block;
        width: 20rem;
        height: 2.4rem;
        vertical-align: middle;
    }

    form.form-inline {
        justify-content: center;
    }

    .btn {
        width: 20rem;
    }

    .btn-sm {
        width: 4rem;
    }
}
@media (min-width: 992px) {
    
    div.title-container {
        width: 55%;
        font-size: 5em;
        padding-top: 1em;
        justify-content: center;
    }

    div.col-md-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    div.col-md-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    div.col-md-6 {
        display: inline;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    div.text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 3em;
    }

    div.row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    h1 {
        font-size: 2.3rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    img.circular {
        width: 150px;
        height: 150px;
        border-radius: 150px;
        padding: 1em;
    }

    .form-inline .form-control {
        display: inline-block;
        width: 20rem;
        height: 2.4rem;
        vertical-align: middle;
    }

    .btn {
        width: auto;
    }

    .btn-sm {
        width: 4rem;
    }
}

