.ocean-container {
    background: url(/img/ocean.jpg) no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    width: 55%;
    font-size: 5em;
    padding-top: 1em;
    justify-content: center;
}

.input {
    padding: 2em;
    justify-content: center;
}

.gray-container {
    background-color: rgb(245, 245, 245);
    padding: 2.5em;
}

.footer-gray-container {
    background-color: rgb(245, 245, 245);
    padding: 0.5em;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-6 {
    padding: 0;
}

.text-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 3em;
}

.rrss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-subtext {
    color: rgb(100, 100, 100);
    font-size: 0.7rem;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
}

.links-container {
    display: flex;
    align-items: center;
}

h1, h2, h4, h6 {
    text-align: center;
}

h1, h2 {
    color: rgb(255, 255, 255);
}

p.centered {
    text-align: center;
}

img.circular {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    padding: 1em;
}

img {
    max-width: 100%;
}

a {
    padding: 0.5em;
    font-size: 0.9rem;
}

span {
    padding: 1em;
}

.monitor {
    content: url(/icons/monitor.svg);
}

.layers {
    content: url(/icons/layers.svg);
}

.check {
    content: url(/icons/check.svg);
}

.facebook {
    content: url(/icons/facebook.svg);
}

.twitter {
    content: url(/icons/twitter.svg);
}

.instagram {
    content: url(/icons/instagram.svg);
}
